.read-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
}

.articles-card {
  margin-bottom: 1rem;
  margin-right: 2rem;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
}

.articles-ul {
  margin: 0 auto;
  text-align: left;
}

.articles-card {
  display: inline-block;
  vertical-align: top;
  padding: 2rem;
}
