.read-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
}

.articles-card {
  margin-bottom: 1rem;
  margin-right: 2rem;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding: 2rem;
}

.articles-ul {
  margin: 0 auto;
  text-align: left;
}

.articles-card {
  display: inline-block;
  vertical-align: top;
}

.articles-container {
  display: grid;
}

.article-title {
  color: #090d12;
  border-left: 4px solid;
  border-color: #f05454;
  padding-left: 1rem;
}

.article-date {
  filter: opacity(0.6);
}

.hide-reset-btn {
  display: none;
}

.show-btn {
  appearance: none;
  background-color: #f58f8f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.3rem;
  max-width: 120px;
  margin-left: 3rem;
}

.filter-container {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  padding-bottom: 1rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-left: 2rem;
}

label {
  filter: opacity(0.5);
}

.dropdown {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
}

.article-icon {
  font-size: 22px;
  filter: opacity(0.6);
}
.article-icon-comment {
  font-size: 20px;
  filter: opacity(0.6);
}
.article-icon-like {
  font-size: 24px;
  filter: opacity(0.6);
}
.info-container {
  display: flex;
  justify-content: space-between;
}
