.user-img {
  max-width: 5rem;
  max-height: 5rem;
}
/* this is how to make a responsive grid */
.users-ul {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 16rem), 1fr)
  );
  grid-gap: 1rem;
}

.users-li {
  margin-bottom: 1rem;
  margin-right: 2rem;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding: 2rem;
}

.users-name {
  font-style: italic;
}

.users-container {
  margin-top: 5rem;
}

.login-btn {
  appearance: none;
  background-color: #f37a7a;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: center;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.3rem;
  width: 7rem;
}

.user-title {
  color: #090d12;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
