.topics-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 5px;
  padding: 3rem;
  margin-bottom: 2em;
  margin-top: 0px;
  background-color: #a8bdd2;
  color: #fff;
  font-size: 18px;
  color: black;
}

.topics-li {
  display: inline-block;
  vertical-align: top;
}

.view-btn {
  appearance: none;
  background-color: #37516b;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.3rem;
}
