.user-comment {
  display: grid;
}

.comments-body {
  padding-left: 2rem;
  border-left: 2px solid;
  border-color: #f05454;
}

.comments-author {
  padding-left: 1rem;
}

.comments-date {
  margin-left: 10px;
  filter: opacity(0.6);
}

.comments-card {
  margin-right: 2rem;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding: 2rem;
}

.comments-ul {
  display: grid;
  margin: 0 auto;
  text-align: left;
}

.comments-card {
  display: inline-block;
  vertical-align: top;
}

.comment-form-container {
  display: grid;
  justify-content: left;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

.comment-form-input {
  color: #30475e;
  border-radius: 0;
  vertical-align: middle;
  background-color: #ecf0f1;
  padding: 0.5rem;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #bdc3c7;
}
.comment-form-textarea {
  color: #30475e;
  border-radius: 0;
  vertical-align: middle;
  background-color: #ecf0f1;
  padding: 1rem;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #bdc3c7;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.comments-subheading {
  font-weight: bold;
}

.comments-votes {
  filter: opacity(0.6);
}

.comment-counter {
  margin-left: 1rem;
  font-weight: bold;
}

.interaction-container {
  display: flex;
  justify-content: space-around;
}

.comment-btn {
  appearance: none;
  background-color: #f37a7a;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0.3rem;
  max-height: 2.5rem;
  max-width: 120px;
}
.secondary-btn {
  appearance: none;
  background-color: #a8bdd2;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0.3rem;
  max-height: 3rem;
  max-width: 120px;
}
.order-btn {
  appearance: none;
  background-color: #a8bdd2;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0.3rem;
  max-height: 3rem;
  max-width: 120px;
}
@media only screen and (max-width: 500px) {
  .filter-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .order-btn {
    width: 2rem;
    height: 1.5rem;
    font-size: 16px;
    padding: 0;
  }
  .order-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.order-btn-container {
  display: flex;
}
