.App {
  text-align: center;
}

.scroll-btn {
  display: block;
  justify-content: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.scroll {
  font-size: 24px;
}
